body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.navContainer {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    margin: auto 2rem;
    color: #26658c;
}

img {
    background-image: url("assets/HUB_Logo_azul.png");
    height: 60px;
}

.navItem {
    font-weight: bold;
    cursor: pointer;
    padding-left: 1.5rem;
}

@media (max-width: 768px) {

    .navContainer {
        padding-top: 1.4rem;
    }

    h1 {
        display: none;
    }
}

.App {
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.App::before {
    content: "";
    background-image: url("assets/fondo-tuberias.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.card {
    min-width: 60rem;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 39px -19px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: -1px 4px 39px -19px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -1px 4px 39px -19px rgba(0, 0, 0, 0.67);
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.cardLeft,
.cardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 1rem 0 1rem;
}

.line {
    width: 1.5px;
    height: 70%;
    background-color: #26658c;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.inputsContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-weight: bold;
    margin-bottom: 1rem;
}

input {
    width: 60%;
    height: 35px;
    border: 1px solid #26658c;
    border-radius: 5px;
    display: block;
    margin-bottom: 1rem;
}

.button-area {
    display: flex;
    justify-content: space-evenly;
}

button,
.link {
    background-color: #26658c;
    width: 25%;
    border: none;
    color: white;
    margin: 0.5rem;
    padding: 0.8rem;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.left {
    height: 90vh;
    flex: 2;
    position: relative;
    background-color: #eeeeee;
}

.right {
    height: 90vh;
    flex: 5;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chart {
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.footer {
    width: 100vw;
    height: 2vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    padding: 0.5rem 0 0.5rem 0;
}

.copyright {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    color: #eee;
}

/* .progress-bar {
    width: 400px;
    height: 15px;
    background-color: white;
    margin-bottom: 50px;
}

.progress-bar div {
    width: 25%;
    height: 100%;
    background-color: rgb(98, 0, 255);
} 

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.25em;
}

.form-group:last-child {
    margin: 0;
}

.form-group>label {
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
}

.form-group>input {
    border: 1px solid #333;
    border-radius: 0.25em;
    font-size: 1rem;
    padding: 0.25em;
}


*/